body {
    background: $page-bg;
    color: $core-text;
}

a {
    color: $core-accent;
    &:hover {
        color: darken($core-accent, 15%);
    }
}

.bg {
    background: #fff;
    border: 1px solid $body-border;
}

.default-animation {
    @include transition(all 0.5s ease);
}


#body {
    .callouts {
        margin: 3rem auto;

        img, .video-container {
            margin: auto;
        }
    }
}
