// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Roboto:300,400,600|Inconsolata);

$font-family-default:           "Roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:            "Roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono:              "Inconsolata", monospace;
$font-family-serif:             "Georgia", "Times", "Times New Roman", serif;
